---
# file: inventories/local/group_vars/static.yml
all:
  hosts:
    mongodb_primary:
      ansible_host: "192.168.54.10"
    mongodb_secondary1:
      ansible_host: "192.168.54.11"
    mongodb_secondary2:
      ansible_host: "192.168.54.12"
  children:
    mongodb:
      children:
        primary:
          hosts:
            mongodb_primary:
        secondary:
          hosts:
            mongodb_secondary1:
            mongodb_secondary2: