---
# file: inventories/local/group_vars/static.yml
all:
  hosts:
    primary:
      ansible_host: "192.168.54.10"
    secondary1:
      ansible_host: "192.168.54.11"
    secondary2:
      ansible_host: "192.168.54.12"
  children:
    mongodb:
      children:
        primary:
          hosts:
            primary:
        secondary:
          hosts:
            secondary1:
            secondary2: