---
# file: roles/mongodb/tasks/configure.yml
- name: Configure key file
  block:
    - name: Check if keyfile already created
      stat:
        path: "{{ mongodb.key_file }}"
      register: keyfile_created

    - name: Generate keyfile
      shell: openssl rand -base64 756
      register: encrypted_result
      run_once: yes
      when: not keyfile_created.stat.exists
      tags: configure

    - name: Write key to file
      become: yes
      copy:
        content: "{{ encrypted_result.stdout }}"
        dest: "{{ mongodb.key_file }}"
        owner: "{{ mongodb.user }}"
        group: "{{ mongodb.group }}"
        mode: "0400"
        remote_src: yes
      when: not keyfile_created.stat.exists
  tags: configure

- name: Configure MongoDB
  become: yes
  template:
    src: mongod.conf.j2
    dest: /etc/mongod.conf
    owner: "{{ mongodb.user }}"
    group: "{{ mongodb.group }}"
    mode: "0644"
  notify: restart mongod
  tags: configure

- name: Configure logrotate
  become: yes
  template:
    src: logrotate.conf.j2
    dest: /etc/logrotate.d/mongodb
  tags: configure

- block:
    - name: Create admin user
      community.mongodb.mongodb_user:
        login_user: "{{ admin.name }}"
        login_password: "{{ admin.password }}"
        database: admin
        name: "{{ admin.name }}"
        password: "{{ admin.password }}"
        state: present
        roles: "{{ admin.roles }}"

    - name: Create users
      community.mongodb.mongodb_user:
        login_user: "{{ admin.name }}"
        login_password: "{{ admin.password }}"
        database: "{{ item.database }}"
        name: "{{ item.name }}"
        password: "{{ item.password }}"
        roles: "{{ item.roles }}"
        state: present
      with_items:
        - "{{ users }}"

    - name: Create ReplicaSet rs0
      community.mongodb.mongodb_replicaset:
        login_user: "{{ admin.name }}"
        login_password: "{{ admin.password }}"
        replica_set: "{{ replicaSetName }}"
        members: "{{ members }}"
      when: replicaSetName is defined
  when: "'primary' in group_names"
  tags: configure