---
# file: inventories/group_vars/mongodb/vars.yml
firewall:
  enabled: true
  rules:
    - { port: "27017", direction: "in", protocol: "tcp", policy: "allow", description: "MongoDB" }

admin:
  name: superuser
  password: "{{ vault_admin_passwd }}"
  roles:
    - root

users:
  - name: program
    password: "{{ vault_program_passwd }}"
    database: mongodb_example
    roles:
      - dbOwner